# Copie para backend.hcl (nao versionado). No CI e passado via -backend-config.
bucket       = "oficina-tc3-tfstate-519768589921"
key          = "oficina/kubernetes/terraform.tfstate"
region       = "us-east-1"
encrypt      = true
use_lockfile = true
